<!DOCTYPE html>
<html lang="en" xml:lang="en"> <!--Noncompliant-->
  <head>
      <meta content="text/html; charset=utf-8">
      <meta http-equiv='X-UA-Compatible' content='IE=edge'>
      <title>Média de notas</title>
      <meta name='viewport' content='width=device-width, initial-scale=1'>
      <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
      <script src='main.js'></script>
  </head>
  <body>
    Aprovado ou Reprovado
  
    <div>
      <form method="get">
        Primeira nota:
        <input type="text" name="primeira">
        <br>
        Segunda nota:
        <input type="text" name="segunda">
        <br>
        <input type="submit" value="Enviar">
      </form>
    </div>
  
    {% if resultado %}
    <div>
      {{resultado}} com média {{media}}!!!
    </div>
    {% endif %}
  </body>
</html>